* {
	padding: 0px;
	margin: 0px;
}
#passport-bg {
	height: 734px;
	background-image: url('../img/passport_background.JPG');
	background-repeat: no-repeat;
}
#rus-fed {
	padding-top: 40px;
	padding-left: 72px;
}
.big-gap {
	letter-spacing: 0.75em;
}
.given-out-1 {
	padding-top: 20px;
	padding-left: 140px;
}
.given-out-2 {
	padding-top: 10px;
	padding-left: 150px;
}
.date-of-rec {
	padding-top: 37px;
	padding-left: 105px;
}
.subdiv-code {
	padding-top: 37px;
	padding-left: 355px;
}
.passport-photo {
	padding-top: 191px;
	padding-left: 22px;
	height: 195px;
	width: 148px;
	float: left;
}
.surname {
	padding-top: 175px;
	padding-left: 250px;
}
.full-name {
	padding-top: 37px;
	padding-left: 250px;
}
.fath-name {
	padding-top: 10px;
	padding-left: 250px;
}
.sex {
	padding-top: 10px;
	padding-left: 40px;
	float: left;
}
.date-birth {
	padding-top: 10px;
	padding-left: 340px;
}
.city-birth {
	padding-top: 10px;
	padding-left: 250px;
}
.region-birth {
	padding-top: 6px;
	padding-left: 180px;
}
